.footer{
    background-color: rgba(192, 187, 31, 0.938);
    height: 80px;
    font-size: 25px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}